[submodule "userscripts"]
	path = userscripts
	url = https://github.com/sfarzy/userscripts.git
[submodule "prezto"]
	path = prezto
	url = git://github.com/salmanulfarzy/prezto.git
[submodule "plugins"]
	path = plugins
	url = git://github.com/salmanulfarzy/plugins.git
