# OS X
.DS_Store

# External disk Files
.Spotligh-V100
.Trashes

# python
*.pyc
*.swp
*env/
.coverage

# PyCharm
.idea/

# ruby
Gemfile.lock
*bundle/

# Git merge backups
*.orig

# Thumbnails
._*
Thumbs.db
*.pem
